.Modal {
  display: flex;
  align-items: center;
  position: fixed;
  top: calc(50% - 170px);
  left: calc(50% - 170px);
  padding: 20px 80px;
  max-width: 100%;
  height: 200px;
  border: 1px solid rgb(193, 68, 97);
  background-color: rgba(0, 0, 0, 0.826);
  border-radius: 10px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.35);
  transform: all 0.35s;

  &__paragraph {
    display: flex;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
  }
}
