html {
  background-color: rgb(16, 15, 27);
}

.btn {
  position: absolute;
  bottom: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  .btn__btn {
    border: 2px solid rgb(193, 68, 97);
    border-radius: 20px;
    width: 200px;
    height: 40px;
    margin: auto;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px;
    background-color: transparent;
    color: aliceblue;
  }

  .btn__btn:hover {
    background-color: aliceblue;
    color: rgb(193, 68, 97);
    font-weight: bold;
  }

}

.EditMovie {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__upperBar {
    display: flex;
    width: 100%;
    height: 55px;
    background: -webkit-linear-gradient(rgb(24, 23, 41), rgb(16, 15, 27));
    background-color: rgb(24, 23, 41);
    justify-content: flex-end;
  }

  &__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(16, 15, 27);
    height: 100%;
  }
 
}
